body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(pexels-pixabay-531880.jpg);
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    background-image: url(bg\ \(2\).jpg);
    background-size: cover;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-section {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 75%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 33px;
}

button {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.weather-info {
    margin-top: 20px;
    color: #333;
}

.weather-info p {
    margin: 10px 0;
}
